<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand glyphicon glyphicon-home gi-15x" href="/account/#" data-toggle="tooltip"
          data-placement="right" title="Home"></a>
    </div>

    <!-- This is the loggedin menu -->
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        {%if  request.path == '/fc/' %}
          <li><a class="active glyphicon glyphicon-pencil"  gi-15x data-toggle="tooltip"
            data-placement="right" title="New" href="/fc/new"><span class="sr-only">(current)</span></a>
          </li>
        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false">Habits
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><button class="btn btn-primary badge-bar center-block" type="button">
            Walk <span class="badge ">4</span>
            </button></li>
            <li><button class="btn btn-primary badge-bar center-block" type="button">
            Water <span class="badge">4</span>
            </button></li>
            <li><button class="btn btn-primary badge-bar center-block" type="button">
            No Alcohol <span class="badge">4</span>
            </button></li>
            <li><button class="btn btn-primary badge-bar center-block" type="button">
            Thankfulness <span class="badge">4</span>
            </button></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/fc/?page=1" ><span class="glyphicon glyphicon-file  gi-15x "data-toggle="tooltip"
            data-placement="left" title="Notes"></span></a>
        </li>
        <li>
          <a href="#"><span class="glyphicon glyphicon-list-alt  gi-15x"data-toggle="tooltip" data-placement="left" title="To Do"></span></a>
        </li>
        <li><a href="/account/logout/"><span class="glyphicon glyphicon glyphicon-off gi-15x" data-toggle="tooltip"
          data-placement="left" title="Log Out"></span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle glyphicon glyphicon-wrench gi-15x"
            data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu  multi-level"  role="menu" >
            <li><a href="#">Habits</a></li>
            <li><a href="#">Preferences</a></li>
            <li><a href="#">Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Your Account</a></li>
            <li><a href="#">Edit Account</a></li>
            <li><a href="#">Change Password</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
          <input type="text" class="span6 input-large col-xs-64 search-query" placeholder="Search">
        <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
      </form>

    </div><!-- /.navbar-collapse -->
    {% else %}
      <li><a class='nav navbar-right' href="/" >Home</a></li>
      <li><a class='nav navbar-right' href="/account/login" ><span class="glyphicon glyphicon-user"></span></a></li>
    {% endif %}
    </div><!-- /.container-fluid -->
</nav>
