table {
    border-radius: 5px;
    width: 80%;
    margin: 0px auto;
    float: none;
}
table, th, td {

    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.row-top-buffer {
    margin-top:20px;
}
textarea {
  min-height: 300px;
  min-width: 600px;
  height: auto;
}
.tagcolor {
  background-color: green;
  color: white;
}
.vscroll {
float:left;
overflow-y: auto;
height: 500px;
}
