{% extends 'acct/homebase.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}Productivity Portal{% endblock %}

{% block content %}
<div id="acct">
  <h2>Productivity Portal</h2>
  <div class="container">
      <div class="row v-center">
          <div class="col-xs-4">
              <a href="/fc/" class="thumbnail">
              <img src="{% static "img/notes.png" %}" alt="Notes" />
              </a>
          </div>
          <div class="col-xs-4">
              <a href="#" class="thumbnail">
                    <img class="vmiddle" src="{% static "img/todo.jpg" %}" alt="To Do" />
              </a>
          </div>
          <div class="col-xs-4">
              <a href="#" class="thumbnail">
                    <img class="vmiddle" src="{% static "img/project-management.jpg" %}" alt="Project Management" />
              </a>
          </div>
      </div>
  </div>
</div>
{% endblock %}
{% block extra_js%}
<!-- <script src="/static/js/global.js"></script> -->
<script src="/static/js/acct.js"></script>

{% endblock %}
