{% extends 'acct/homebase.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static "css/forms.css"%}">
  <div class="text-center table table-hover text-centered">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      <table id="t01" style="width:33%">
        <tr>
          <th>Item</th>
          <th>Input</th>
        </tr>

      {% for field in form %}
        <tr>

        <div class="fieldWrapper">
          {{ field.errors }}
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </div>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="2" style="text-align:center;">    <!-- Indicates a successful or positive action -->
            <button type="submit" class="btn btn-success">Success</button>
        </td>
      </tr>
    </table>
    </form>
  </div>
{% endblock %}
