{% extends 'acct/homebase.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/base.css"%}">
<div class="text-center table table-hover text-centered">
  <h2>{{ user }} Profile Details </h2>
    <p>
      <table  id="t01" style="width:50%">
        <col style="width:30%">
        <col style="width:70%">
        <tr>
          <td>User</td><td> {{ user }} </td>
        </tr>
        <tr>
          <td>Subscription</td><td>{{ form.subscription }}</td>
        </tr>
        <tr>
          <td>Description</td><td>{{ form.description }}</td>
        </tr>
        <tr>
          <td>City</td><td> {{ form.city }} </td>
        </tr>
        <tr>
          <td>Website</td><td>{{ form.website }}</td>
        </tr>
        <tr>
          <td>Image</td><td>{{ form.image }}</td>
        </tr>
      </table>
    </p>
</div>

{% endblock %}
